{% extends "base.html" %}
{% block title %}
  {% if author.name %}
    {{ author.name }}, Author
  {% else %}
    Author ID: {{ author.id }}
  {% endif %}
{% endblock %}
{% block content %}

<div class="section" align="center">
<img src="/img/favicon-32x32.png" alt="favicon">

<b>{{ message }}</b>
</div>
<div style="text-align: center;">
    <img src="/img/authors/tthomp/DBZ rap.jpg" width="75%" alt="header">
</div>
<div class="section" align="center">


        <h1><span>Some live Rick and Morty</span></h1>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JQm2lfjDirQ" frameborder="0" allowfullscreen></iframe>
        
</div>




{% endblock %}
