<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
{% block head %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="/3p/bootstrap-4.0.0-beta/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/gir-app-labs-at-aamu.css">
{% endblock %}
{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
{% endblock %}
    <title>
{% block title %}GiR App Labs @ AAMU{% endblock %}
    </title>
{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GiR App Labs @ AAMU</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ user_url|safe }}" class="btn">{{ user_linktext }}{% if user_name %}
              {{ user_name }}{% endif %}</a>
          </div>
        </div>
      </div>
    </div>
      <hr>
{% block content %}{% endblock %}
    <div>
      <a href="{{ user_url|safe }}" class="btn">{{ user_linktext }}{% if user_name %}
        {{ user_name }}{% endif %}</a>
    </div>
    <div>
      <a href="/a">Authors</a>
    </div>
  </body>
</html>
{% endautoescape %}

